vosk-model-small-fr-0.22/rescore/G.fst filter=lfs diff=lfs merge=lfs -text
vosk-model-small-fr-0.22/graph/HCLG.fst filter=lfs diff=lfs merge=lfs -text
vosk-model-small-fr-0.22/rescore/G.carpa filter=lfs diff=lfs merge=lfs -text
