#include "resource.h"
#include <windows.h>

IDI_PROVIDER_ICON ICON "icon.ico"

STRINGTABLE
BEGIN
    IDS_TILE_TITLE      "Connexion Sécurisée Personnalisée"
    IDC_STATIC_USERNAME "Nom d'utilisateur :"
    IDC_STATIC_PASSWORD "Mot de passe :"
    IDC_BUTTON_SUBMIT   "Connexion"
END
